{{ define "main" }}
<div class="index-content">
    {{ .Content }}
</div>

<div class="articles h-feed post-single">
    <h1 class="title-bar_title">{{ i18n .Title | markdownify }}</h1>
    {{ $showFullContent := in .Site.Params.sectionsWithFullContentOnListPage .Section }}
    {{ $pages := where .Pages "Params.hidden" "!=" true}}

    {{ $pagesRange := $pages}}
    {{ if $showFullContent }}
    {{ $pagesRange = (.Paginate $pages).Pages }}
    {{ end}}

    {{ range $pagesRange.GroupByParamDate "date" "2006" }}
    <div class="all-posts-list">
        <h2 class="all-posts-date">{{ .Key }}</h2>
        {{ range .Pages }}
        <div class="post-short-list h-entry all-posts-title">
            <div class="post-header">
                <header>
                    <h2
                        class="p-name post-title{{ if .Params.favorite }} favorite{{end}}{{ if .Params.draft }} draft{{end}}">
                        <a class="u-url" href="{{ .RelPermalink }}">{{ trim .Title " " | markdownify }}</a></h2>
                    {{ partial "post-language-switcher.html" . }}
                </header>
            </div>
            {{ if $showFullContent }}
            {{ .Content }}
            {{ end }}
            {{ partial "post-info.html" . }}
        </div>
        {{ end }}
        {{ end }}
    </div>
    {{ if $showFullContent }}
    {{ partial "pagination.html" . }}
    {{ end}}
</div>

{{ end }}