/* dark.css */ 
--font-color: #eee;
--first-class-color: #f0f0f0;
--second-class-color: #d9d9d9;
--forbidden-class-color: #bfbfbf;
--first-class-border-color: #424242FF;
--divider-color: #FDFDFD1F;
--bg-color: #212121;

--link-color:#599ada;
--link-state-color:#36cfc9;
--link-state-border-color: #36cfc9;

--thead-bg-color: #343a40;
--table-border-color: lightgrey;

--nav-bg-color: #242424;
--nav-link-color: #b6b6b6;

--pre-color: #f8f8f2;
--pre-bg-color: #272822;

--bq-color: #ccc;
--hr-color: #333;

--pagination-bg-color: #373737;
--pagination-link-color: #b6b6b6;

--post-info-color: grey;

--switcher-color: #333;
--switcher-bg-color: #fff;

--svg-color: #ccc;
--svg-state-color:#ff5858;

--language-selected: grey;

--aig-summary-border-color: #424242FF;

--color-bg-secondary: #00000000;
--color-bg-secondary-hover: #21262d;
--color-text-secondary: #7d8590;
--color-bg2-secondary: #388bfd1a;
--color-bg2-secondary-hover: #0c2d6b;
--color-text2-secondary: #2f81f7;

--shadow-color: #00474f;
