:root {
    /* light.css */
    --font-color: #333;
    --first-class-color: #434343;
    --second-class-color: #595959;
    --forbidden-class-color: #8c8c8c;
    --first-class-border-color: #D9D9D9FF;
    --divider-color: #0505050F;
    --bg-color: #fff;

    --link-color: #1d60a3;
    --link-state-color: #096dd9;
    --link-state-border-color: #096dd9;

    --thead-bg-color: lightgrey;
    --table-border-color: lightgrey;

    --nav-bg-color: #1890ff;
    --nav-link-color: #ffffff;

    --pre-color: #333;
    --pre-bg-color: #f1f1f1;

    --bq-color: #ccc;
    --hr-color: #ccc;

    --pagination-bg-color: #1890ff;
    --pagination-link-color: #ffffff;

    --post-info-color: grey;

    --switcher-color: #fff;
    --switcher-bg-color: #333;

    --svg-color: #333;
    --svg-state-color: #1890ff;

    --language-selected: grey;

    --aig-summary-border-color: #D9D9D9FF;

    --color-bg-secondary: #fff;
    --color-bg-secondary-hover: #eaeef2;
    --color-text-secondary: #656d76;
    --color-bg2-secondary: #ddf4ff;
    --color-bg2-secondary-hover: #b6e3ff;
    --color-text2-secondary: #0969da;

    --shadow-color: #b5f5ec;
}