{{ $light := resources.Get "css/light.css" }}
{{ $dark := resources.Get "css/dark.css" }}

{{ $style := "light-without-switcher" }}
{{ if and (isset site.Params "style") (ne site.Params.style "") }}
    {{ $style = site.Params.style | lower }}
{{ end }}

{{ if eq $style "dark-without-switcher" }}
:root {
    {{ $dark.Content }}
}

{{ else }}

{{ $light.Content }}

{{ if eq $style "auto-without-switcher" }}
@media (prefers-color-scheme: dark) {
    :root {
        {{ $dark.Content }}
    }
}
{{ else if ne $style "light-without-switcher" }}
[data-theme="dark"] {
    {{ $dark.Content }}
}
{{ end }}

{{ end }}

/* Basic */
html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    /* 1 */
    -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}

body {
    margin: 0;
    font-size: 18px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    color: var(--font-color);
    background: var(--bg-color);
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
    display: block;
}

.container {
    max-width: 42em;
    margin: 0 auto;
}

main {
    outline:none;
}

/* Headers */
h1 {
    font-size: 1.35em;
    font-family: -apple-system, BlinkMacSystemFont, PingFang SC, Hiragino Sans GB, Microsoft YaHei, "\5FAE\8F6F\96C5\9ED1", helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, Arial, sans-serif;
}

h2 {
    font-size: 1.2em;
    font-family: "PingFang SC", "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", 微软雅黑, Arial, sans-serif;
}

h3 {
    font-size: 1.1em;
}

/* Links */

a {
    color: var(--link-color);
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

.content.e-content a {
    border-bottom: 1px solid var(--link-color);
}
.content.e-content a:hover {
    border-bottom: 1px solid var(--link-state-border-color);
}

a:hover,
a:focus,
a:active {
    color: var(--link-state-color);
    border-bottom: 1px solid var(--link-state-border-color);
}

a:active,
a:hover {
    outline: 0;
}

a:active {
    opacity: 0.9;
}

a.skip-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}

a.skip-main:focus,
a.skip-main:active {
    left: auto;
    top: 0px;
    width: auto;
    height: auto;
    overflow:auto;
    z-index:999;
    padding: 4px 6px 4px 6px;
    text-decoration: underline;
    border: none;
}

/* Table */
thead {
    background: var(--thead-bg-color);
}

.table-wrapper {
    overflow-x: auto;
}

table {
    max-width: 100%;
    border-spacing: 0;
}


th, td {
    padding: 0.5em 1em;
    border: 1px double var(--table-border-color);
}


/* Code */
pre {
    max-width: 100%;
    overflow: auto;
    border-radius: 0.5rem;
    border-width: 1px;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 1.25rem;
}

code {
    border-radius: 0.5rem;
    border-width: 1px;
    font-size: .875rem;
    line-height: 1.25rem;
    padding: 0.25rem 0.5rem;
}

code,
pre,
kbd {
    color: var(--pre-color);
    background-color: var(--pre-bg-color);
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    font-size: 1rem;
}

pre code, pre kbd {
    color: inherit;
    background-color: inherit;
}

/* Styles */

blockquote {
    border-left: 2px solid var(--bq-color);
    padding: 0.1em 1em;
    margin-left: 0.75em;
}
blockquote > p {
    font-size: medium;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

p {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font: 400 17px/1.95 Inter Variable,Inter,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,PingFang SC,Hiragino Sans GB,Microsoft Yahei,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";

}

.content.post-summary.post-summary p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font: 400 17px/1.75 Inter Variable,Inter,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,PingFang SC,Hiragino Sans GB,Microsoft Yahei,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
}

ul, ol {
    font: 400 17px/1.95 Inter Variable,Inter,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,PingFang SC,Hiragino Sans GB,Microsoft Yahei,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
}

hr {
    color: var(--hr-color);
    background-color: var(--hr-color);
    border: none;
    height: 1px;
}

/* Header */

.common-header {
    padding-bottom: 1.5em;
}

header a {
    color: var(--font-color);
}

header h1 {
    font-size: 1.35em;
    margin-top: 1em;
    margin-bottom: 0;
    font-weight: normal;
}

header h2 {
    font-size: 1em;
    margin: 0;
    font-weight: normal;
}

.header-top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    vertical-align: middle;
    margin-top: 1em;
}

.header-top ul {
    margin-top: 0;
    margin-bottom: 0;
}

.site-title {
    display: inline;
    white-space: nowrap;
}

header nav:not(:empty){
    background: var(--nav-bg-color);
    margin-top: 1em;
    max-width: 100%;
    text-align: center;
    padding: 0.5em 0;
}

header nav a {
    display: inline-block;
    margin: 0 2.5%;
}

/* Social icons */
.social-icons {
    display: inline;
    padding-left: 3em;
    list-style-type: none;
}

.social-icons li {
    display: inline;
}

.social-icons li:not(:first-of-type) {
    margin-left: 0.5em;
}

.social-icons a:hover,
.social-icons a:focus,
.social-icons a:active {
    color: inherit;
    border-bottom: none;
    text-decoration: none;
}

.inline-svg {
    display: inline-block;
    height: 1.15rem;
    width: 1.15rem;
    top: 0.15rem;
    position: inherit;
}
.inline-svg a:hover,
.inline-svg a:focus,
.inline-svg a:active {
    color: inherit;
    border-bottom: none;
    text-decoration: none;
}


/* Pages */
main h1 {
    margin-top: 1em;
    font-weight: normal;
    line-height: 1.1em;
    margin-bottom: 0.5em;
    font-weight: 600;
}

.post-short-list:first-of-type {
    margin-top: 1em;
}

.post-short-list img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto .5em;
}

.post-short-list video {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto .5em;
}

/* Articles */

.post-header {
    margin-top: 1em;
    line-height: 1.1em;
    margin-bottom: 1em;
}

.post-short-list.h-entry .post-header {
    margin-bottom: 0.2em;
}

.post-header header {
    display: inline;
}

.post-navigation {
    background: var(--nav-bg-color);
    text-align: center;
    margin-top: 1em;
    max-width: 100%;
    padding: 0.5em 0;
}

.post-navigation a:first-of-type {
    margin-left: 0;
}

.post-navigation a {
    color: var(--nav-link-color);
    margin-left: 2em;
}

.post-navigation a:hover,
.post-navigation a:focus,
.post-navigation a:active {
    color: var(--link-state-color);
}

.post-short-list .post-title {
    display: inline;
}

.post-title.favorite::after {
    content: "☆";
    display: inline-block;
    margin-left: 0.2em;
}

.post-title.draft::after {
    content: "✎";
    display: inline-block;
    margin-left: 0.2em;
}

.post-title.favorite.draft::after {
    content: "☆ ✎";
    display: inline-block;
    margin-left: 0.2em;
}

article:not(:last-of-type) {
    /* border-bottom: thin solid var(--hr-color); */
    padding-bottom: 2em;
}

article header h1 {
    font-size: 1.25em;
    line-height: 1.1em;
    margin-bottom: 0.5em;
    font-weight: 600;
    display: inline;
}

article header h1 a {
    color: var(--font-color);
    border: none;
    text-decoration: none;
}

.post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
    position: relative;
}

.post h1 a,
.post h2 a,
.post h3 a,
.post h4 a,
.post h5 a,
.post h6 a {
    opacity: 0;
    position: absolute;
    left: -1.2rem;
}

.post h1:hover a,
.post h2:hover a,
.post h3:hover a,
.post h4:hover a,
.post h5:hover a,
.post h6:hover a {
    opacity: 1;
    border-bottom: none;
}

.post h1 a:hover,
.post h1 a:focus,
.post h1 a:active,
.post h2 a:hover,
.post h2 a:focus,
.post h2 a:active,
.post h3 a:hover,
.post h3 a:focus,
.post h3 a:active,
.post h4 a:hover,
.post h4 a:focus,
.post h4 a:active,
.post h5 a:hover,
.post h5 a:focus,
.post h5 a:active,
.post h6 a:hover,
.post h6 a:focus,
.post h6 a:active {
    border-bottom: none;
}

.post h1 svg,
.post h2 svg,
.post h3 svg,
.post h4 svg,
.post h5 svg,
.post h6 svg {
    stroke: var(--svg-color);
}

.post h1 svg:hover,
.post h1 svg:focus,
.post h1 svg:active,
.post h2 svg:hover,
.post h2 svg:focus,
.post h2 svg:active,
.post h3 svg:hover,
.post h3 svg:focus,
.post h3 svg:active,
.post h4 svg:hover,
.post h4 svg:focus,
.post h4 svg:active,
.post h5 svg:hover,
.post h5 svg:focus,
.post h5 svg:active,
.post h6 svg:hover,
.post h6 svg:focus,
.post h6 svg:active {
    stroke: var(--svg-state-color);
}

.post-list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 40px;
    grid-auto-columns: 50vmax;
    position: relative;
    padding-bottom: 32px;
    grid-template-areas: "date date content content content content content content content content content content";
}
.post-card-date {
    grid-area: date;
    margin-top: 1em;
    font-size: 1em;
    line-height: 1.5;
    white-space: nowrap;
    color: var(--post-info-color);
}
.post-card-date a,
.post-card-taxonomies a {
    color: var(--post-info-color);
}
.post-info {
    color: var(--post-info-color);
    font-size: 0.75em;
    margin-top: 1em;
}

.post-content {
    grid-area: content;
}

.post-info a {
    color: var(--post-info-color);
}

.post-info a:hover {
    color: var(--link-state-color);
}

.post-short-list .post-info {
    margin-top: 0;
    margin-bottom: 1.5em;
}

.post-taxonomies {
    display: inline;
}

.post-hidden-url {
    display: none;
}

.post-hidden-author {
    display: none;
}

.post-date {
    white-space: nowrap;
}

.post-categories {
    display: inline;
    list-style-type: none;
    padding: 0;
}

.post-categories li {
    display: inline;
    margin-right: 1em;
}

.post-tags {
    display: inline;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.post-tags li {
    display: inline;
    margin-right: 1em;
    font-size: 15px;
}

.post-authors {
    display: inline;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.post-authors li {
    display: inline;
    margin-right: 1em;
}

article img {
    max-width: 90%;
    display: block;
    height: auto;
    margin: 0 auto .5em;
    border-radius: 10px;
}

article figcaption {
    color: grey;
    text-align: center;
    font-size: 0.85em;
    margin-bottom: 2em;
}

article video {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto .5em;
}

code.has-jax {
    -webkit-font-smoothing: antialiased;
    background: inherit !important;
    border: none !important;
    font-size: 100%;
}

.read-more {
    margin: 1em 0;
}

.divider {
    border-top: thin solid var(--hr-color);
    display: block;
    height: 1px;
    border: 0;
    width: 25%;
    margin: 1em auto;
}

.post-summary {
    margin-top: 0.5em;
    display: block;
    font: 400 17px/1.75 Inter Variable,Inter,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,PingFang SC,Hiragino Sans GB,Microsoft Yahei,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
}

.post-summary > p {
    display: block;
}

.post-translations {
    margin-left: 0.5em;
    list-style: none;
    padding: 0;
    display: inline;
    font-size: 14px;
}

.post-translations > li {
    display: inline;
}

.post-translations > li:not(:last-child)::after {
    content: " | ";
    display: inline-block;
}

.post-translations > li a {
    color: var(--link-color);
}

.post-translations > li a:hover,
.post-translations > li a:focus {
    color: var(--link-state-color);
}

.read-next-title {
    margin-bottom:  0;
}

.read-next-posts {
    margin-top:  5px;
    list-style-type:"- ";
    padding-inline-start: 20px;
}

/* Other pages */
.terms {
    list-style-type: none;
    padding: 0;
    line-height: 2em;
}

/* Pagination */

.pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 3em;
    text-align: center;
}

.pagination-item {
    background: var(--pagination-bg-color);
    padding: 0.75em 0.75em;
}

.pagination-item a {
    color: var(--pagination-link-color);
}

.pagination-item a:hover,
.pagination-item a:focus {
    color: var(--link-state-color);
}

.disabled {
    visibility: hidden;
}

.pagination-item a:hover, .pagination-item a:focus {
    border-bottom: 0;
}

.post-pagination .pagination-item {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 16em;
}

/* Footer */

.common-footer {
    padding-top: 1.5em;
    margin-top: 3em;
    font-size: 16px;
}

.common-footer-bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

ul.footer-menu {
    padding-left: 0;
    list-style: none;
    display: flex;
}

ul.language-select {
    display: inline;
    list-style: none;
    padding-right: .5em;
}

ul.footer-menu > li {
    margin-right: 1em;
}

ul.language-select > li {
    display: inline;
    margin: 0;
}

ul.language-select>li+li::before {
    content: " | ";
}

.language-selected {
    color: var(--language-selected);
}

.theme-switcher {
    cursor: pointer;
    display: inline;
}

.theme-switcher-svg {
    fill: currentColor;
}

.h-card {
    display: none;
}

/* Copy code  */
.highlight {
    position: relative;
    overflow: auto;
    border-radius: 5px;
}

.highlight:hover .highlight-copy-btn {
    display: inline-block;
    border: 1px solid var(--bg-color);
}

.highlight-copy-btn {
    display: none;
    position: absolute;
    top: 18px;
    right: 2px;
    border: 0;
    border-radius: 4px;
    padding: 1px;
    font-size: 0.7em;
    line-height: 1.8;
    color: #fff;
    background-color: #777;
    min-width: 25px;
    text-align: center;
    border-radius: 5px;
}
.highlight-copy-btn:hover {
    transition-duration: .1s;
    background-color: #666;
    border: 1px solid var(--bq-color) !important;
    cursor: pointer;
}

.highlight-copy-btn,
.highlight-copy-btn svg {
    vertical-align: middle;
    margin: 8px;
}

.iframe-container {
    position: relative;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 50.625%; /* 16:9 宽高比，根据需要调整 */
}
.iframe-container iframe {
    position: absolute;
    border-radius: 10px;
    margin-bottom: 20px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.table-container {
    overflow-x: auto; /* 显示水平滚动条 */
    max-width: 100%; /* 设置容器的最大宽度为父容器的宽度 */
    border-radius: 10px;
    font: 400 15px/1.05 Inter Variable,Inter,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,PingFang SC,Hiragino Sans GB,Microsoft Yahei,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
}

.image-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* 自动适应列宽 */
    gap: 10px; /* 设置图片之间的间距 */
    max-width: 100%;
    margin: 0 auto;
    align-items: center;
    border-radius: 10px;
}

.image-container > img {
    max-width: 100%; /* 图片宽度自适应容器 */
    height: auto; /* 保持图片比例 */
}

.scroll-hint {
    display: none;
}

.aig-summary-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 1.25rem auto;
    border: 1px solid var(--aig-summary-border-color);
    border-radius: 10px;
    padding: 1rem;
    max-width: 90%;
}

.ai-summary-icon {
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-left: 1.25rem;
    fill: var(--font-color);
}

.aig-summary-title {
    font: 600 16px/1.5 Inter Variable,Inter,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,PingFang SC,Hiragino Sans GB,Microsoft Yahei,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
    margin: 0 0 0.5em;
}

.aig-summary, .aig-summary > p, .aig-summary > ol {
    font: 400 14px/2 Inter Variable,Inter,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,PingFang SC,Hiragino Sans GB,Microsoft Yahei,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
    color: gray;
    margin-top: 0.5em;
    margin-bottom: 0;
}


/* Media Queries */

@media (max-width: 840px) {
    .main-wrapper {
        margin: 0;
        max-width: none;
        overflow-x: hidden;
        padding-left: 25px;
        padding-right: 25px;
    }

    .container {
        max-width: 90%;
        margin: 0 auto;
        word-wrap: break-word;
    }

    .pagination-item {
        padding: 0.5em 0.5em;
        font-size: 14px;
    }

    .post-navigation {
        background: var(--pagination-bg-color);
        text-align: center;
        padding: 0.5em 0;
    }

    .post-navigation a {
        margin-left: 0.5em;
    }

    .post-pagination .pagination-item {
        max-width: 10em;
    }

    .header-top-left-controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-top-left {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-top-right {
        display: flex;
        justify-content: center;
        padding-top: 0.5em;
    }

    .header-top {
        display: block;
    }

    .social-icons {
        padding: 0;
        margin: 0;
    }
    .site-title {
        margin-top: 0;
    }

    .image-container {
        display: inherit;
        overflow-x: auto; /* 显示水平滚动条 */
        white-space: nowrap; /* 防止图片换行 */
        scroll-behavior: smooth; /* 平滑滚动效果 */
        max-width: 90%;
        margin: 0 auto;
    }
    
    .image-container > img {
        display: inline-block; /* 将图片显示为行内块级元素 */
        max-width: 100%; /* 图片宽度自适应容器 */
        height: auto; /* 保持图片比例 */
        margin-right: 10px; /* 设置图片之间的间距 */
    }

    .scroll-hint {
        display: block;
        color: grey;
        text-align: center;
        font-size: 0.6em;
        font-style: italic;
        margin-bottom: 0%;
        margin-top: 0%;
    }

    .post-list {
        display: block;
        position: relative;
        padding-bottom: 32px;
    }

    .post-card-date {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

}

@media (min-width: 1366px){
    .container {
        /* max-width: 50em; */
        position: relative;
    }
    #TableOfContents {
        position: fixed;
        width: 15%;
        top: 50%;
        right: 5%;
        transform: translateY(-50%);
        z-index: 1000;
    }
    #TableOfContents ul li {
        font-size: 14px;
    }
}

@media (min-width: 2048px){
    .container {
        max-width: 60em;
        position: relative;
    }
}

{{ range site.Params.customCSS }}
    {{ $custom := resources.Get . }}
    {{ $custom.Content }}
{{ end }}

{{ if site.Params.isso.enabled }}
  #isso-thread .textarea {
    color: #000;
  }
  #isso-thread .isso-feedlink {
    position: relative;
    z-index: 1;
  }
{{ end }}
