{{ define "main" }}

<div class="post-single">
  <h2><a href="/categories" style="border-bottom: 0px">分类</a></h2>

  <ul class="terms tag-grid">
    {{ range .Site.Taxonomies.categories }} {{ $postsNum := len (where .Pages
    "Params.hidden" "!=" true) }} {{ if gt $postsNum 0 }}
    <li style="color: var(--background-color)">
      <a class="hover-fill-effect" href="{{ .Page.RelPermalink }}">
        <div>
          {{ i18n .Page.Title | markdownify }}
          <sup>({{ $postsNum }})</sup>
        </div>
      </a>
    </li>
    {{ end}} {{ end }}
  </ul>
  <h2><a href="/tags" style="border-bottom: 0px">标签</a></h2>

  <ul class="terms tag-grid">
    {{ range .Site.Taxonomies.tags }} {{ $postsNum := len (where .Pages
    "Params.hidden" "!=" true) }} {{ if gt $postsNum 0 }}
    <li style="color: var(--background-color)">
      <a class="hover-fill-effect" href="{{ .Page.RelPermalink }}">
        <div>
          #{{ i18n .Page.Title | markdownify }}
          <sup>({{ $postsNum }})</sup>
        </div>
      </a>
    </li>
    {{ end}} {{ end }}
  </ul>
</div>
{{ end }}
