<div class="header-top">
    <span class="header-top-left">
        {{ partial "site-title.html" . }}
        <span class="header-top-controls">
            {{ with .Site.Home.OutputFormats.Get "rss" -}}
                <a {{ printf "href=%q" .Permalink | safeHTMLAttr }} title="RSS" rel="me" style="text-decoration: none;">
                {{ partial "font-awesome.html" (dict "iconName" "rss" "custom" false) }}
                </a>
            {{ end -}}
            {{ partial "theme-switcher.html" . }}
            {{ $languagesCount := $.Site.Home.AllTranslations }}
            {{ if gt $languagesCount 1 }}
            {{ partial "language-switcher.html" . }}
            {{ end }}
        </span>
    </span>
    <span class="header-top-right">
        <span class="header-top-nav">
            {{ if .Site.Menus.main }}
            <ul class="header-top-nav-items">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                <li><a class="{{if or ($currentPage.IsMenuCurrent " main" .) ($currentPage.HasMenuCurrent "main" .) }}
                    active{{end}}" href="{{ .URL | absLangURL }}" title="{{ .Title }}">{{ .Name }}</a></li>
                {{ end }}
            </ul>
            {{ else }}
            <ul></ul>
            {{ end }}
        </span>
    </span>
</div>

{{ if .Site.Params.mathjax }}{{ partial "mathjax_support.html" . }}{{ end }}
{{ partial "header-extra.html" . }}