{{ if or (and .Prev (ne .Prev.Section "posts") (ne .Prev.Params.hidden true)) (and .Next (ne .Next.Section "posts") (ne .Next.Params.hidden true)) }}
    {{ $toNewPostMessage := i18n "toNewPost" }}
    {{ $toOldPostMessage := i18n "toOldPost" }}
    <div class="pagination post-pagination">
        <div class="left pagination-item {{ if not .Next }}disabled{{ end }}">
            {{ if and .Next (ne .Next.Section "posts") (ne .Next.Params.hidden true) }}
                <a href="{{ .Next.RelPermalink }}">
                    <p>最近 Recent</p>
                    <h3 style="margin-bottom:0px">#{{ .Next.Title | default $toNewPostMessage | markdownify }} {{ .Next.Params.remark }}</h3>
                    <p>{{ .Next.Content | plainify | truncate 50 }}</p>
                </a>
            {{ end }}
        </div>
        <div class="right pagination-item {{ if not .Prev }}disabled{{ end }}">
            {{ if and .Prev (ne .Prev.Section "posts") (ne .Prev.Params.hidden true) }}
                <a href="{{ .Prev.RelPermalink }}">
                    <p>更早 Previous</p>
                    <h3 style="margin-bottom:0px">#{{ .Prev.Title | default $toOldPostMessage | markdownify }} {{ .Prev.Params.remark }}</h3>
                    <p>{{ .Prev.Content | plainify | truncate 50 }}</p>
                </a>
            {{ end }}
        </div>
    </div>
{{ end }}

{{ partial "pagination-extra.html" . }}