{{ if .IsTranslated }}
    {{ $pageLang := .Page.Lang}}
    <span>
        <ul class="post-translations">
            {{ range (sort .AllTranslations ".Lang" "asc" ) }}
                {{ if eq .Lang $pageLang }}
                {{ else }}
                    <li>
                        <span class="inline-svg"><a href="{{ .Permalink }}">{{ partial "font-awesome.html" (dict "iconName" "language" "custom" false) }}</a></span>
                    </li>
                {{ end }}
            {{ end }}
        </ul>
    </span>
{{ end }}