{{ $dateFormat := "2006-01-02" }}
{{ if .Site.Params.dateFormat }}
{{ $dateFormat = .Site.Params.dateFormat }}
{{ end }}
{{ $machineDateFormat := "2006-01-02" }}

{{ if .Params.date }}
<div class="post-card-date dt-published">
    <time datetime="{{ .Params.date.Format $machineDateFormat }}">
            {{- .Params.date.Format $dateFormat -}}
        </time>
    {{ if ne .Params.date .Params.lastMod -}}
    [{{ i18n "lastMod" }} <time datetime="{{ .Params.lastMod.Format $machineDateFormat }}">
        {{- .Params.lastMod.Format $dateFormat -}}
    </time>]
    {{- end }}
</div>
{{ end }}