{{ $urls := split (.Get "urls") ", " }}
<div class="audio-card">
    <div class="background" style="background-image: url('{{ .Get "audioCover" }}');"></div>    
    <div class="player-album-cover">
        <img src="{{ .Get "audioCover" }}" alt="{{ .Get "alt" }}" />
    </div>

    <div class="name-nd-control-nd-bar">
        <div class='name-nd-control'>
            <div class="song-info">
                <p class="song-name">{{ .Get "songname" }}</p>
                <p class="song-sub-info aka-info">{{ .Get "aka" }}</p>
                <p class="song-sub-info artist-name">{{ .Get "artist" }}</p>
                <p class="song-sub-info album-name">{{ .Get "album" }}</p>
            </div>
            <div class="audio-controls">
                <button id="playPauseButton">
                    <img id="playPauseIcon" src="/icons/play.svg" alt="Play">
                </button>
                <button id="loopButton">
                    <img id="loopIcon" src="/icons/loop-off.svg" alt="Loop Off">
                </button>
            </div>
        </div>
        <div class="progress-bar">
            <input id="progressBar" type="range" min="0" max="100" value="0">
        </div>
        <div class='time-remark'>
            <div id="timeDisplay">00:00 / 00:00</div>
        </div>
    </div>
    <audio id="audioPlayer">
        <!-- The source will be set by JavaScript -->
    </audio>
</div>

<style>
#playPauseButton, #loopButton {
    background: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    width: 50px;
}

#progressBar {
    height: 4px;
    border-radius: 6px;
    border-color: transparent;
}
#timeDisplay {
    font-size: 12px;
    color: var(--second-class-color);
}
.audio-control-icon {
    color: var(--font-color);
}

.audio-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 87%;
  height: auto;
  margin: 15px auto 25px;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 0 10px transparent;
}

.audio-card .background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 6px;
  box-shadow: 0 0 10px transparent;
  width: 100%;
  height: 100%;
  background-size: cover;
  opacity: 0.25;
}

.name-nd-control-nd-bar {
  flex: 3;
  display: flex;
  height: 100%;
  margin-left: 10px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}

.player-album-cover {
  flex: 1;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.player-album-cover img {
  max-width: 100%;
  height: 100%;
  width: 160px;
  border-radius: 6px;
}

.name-nd-control {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}

.audio-controls {
  flex: 3;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
}

.song-info {
    flex: 13;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.progress-bar {
  width: 100%;
  margin-left: 12px;
}

.my-progress .ant-slider-rail {
  background-color: #ccc !important;
}

.song-info .song-title {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}


.song-info .progress-bar {
  flex: 1;
  /* 添加你的进度条样式 */
}

.audio-time {
  font-size: smaller;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  color: #ccc;
  padding: 2px 7px 3px;
}


input[type="range"] {
  width: 100%;
}

.song-name {
  font: 700 20px / 1.5 Georgia, Xin Gothic, PingFang SC, Hiragino Sans GB, Droid Sans Fallback, Microsoft YaHei, sans-serif;  
  padding: 0px 7px;
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
  margin-top: 0px;
  margin-bottom: 0px;
}

.song-sub-info {
  font-size: smaller;
  padding: 0px 7px;
  line-height: 1.0;
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
}

.artist-name {
  margin-top: 0px;
  margin-bottom: 10px;
  font: 400 18px / 1.75 Georgia, Xin Gothic, PingFang SC, Hiragino Sans GB, Droid Sans Fallback, Microsoft YaHei, sans-serif;  
  padding: 4px 7px;

}

.aka-info {
  margin-top: 0px;
  margin-bottom: 0px;
}

.album-name {
  margin-top: 0px;
  font: 500 20px / 1.75 Helvetica Neue, Helvetica, Arial, PingFang SC, Hiragino Sans GB, Droid Sans Fallback, Microsoft YaHei, sans-serif;  
  padding: 4px 7px;
  margin-bottom: 0px;

}


@media screen and (max-width: 650px) {
  .audio-card {
    flex-direction: column;
    align-items: stretch
  }
  .name-nd-control {
    flex-direction: column;
  }

}

</style>

<script>
    var urls = "{{ .Get "urls" }}".split(", ");
    var audioPlayer = document.getElementById('audioPlayer');
    var playPauseButton = document.getElementById('playPauseButton');
    var playPauseIcon = document.getElementById('playPauseIcon');
    var loopButton = document.getElementById('loopButton');
    var loopIcon = document.getElementById('loopIcon');
    var timeDisplay = document.getElementById('timeDisplay');
    var progressBar = document.getElementById('progressBar');

    playPauseButton.onclick = function () {
        if (audioPlayer.paused) {
            audioPlayer.play();
            playPauseIcon.src = '/icons/pause.svg';
            playPauseIcon.alt = 'Pause';
        } else {
            audioPlayer.pause();
            playPauseIcon.src = '/icons/play.svg';
            playPauseIcon.alt = 'Play';
        }
    };

    loopButton.onclick = function () {
        if (audioPlayer.loop) {
            audioPlayer.loop = false;
            loopIcon.src = '/icons/loop-off.svg';
            loopIcon.alt = 'Loop Off';
        } else {
            audioPlayer.loop = true;
            loopIcon.src = '/icons/loop-on.svg';
            loopIcon.alt = 'Loop On';
        }
    };

    progressBar.oninput = function () {
        audioPlayer.currentTime = audioPlayer.duration * (progressBar.value / 100);
    };

    function updateDisplay() {
        var minutes = Math.floor(audioPlayer.currentTime / 60);
        var seconds = Math.floor(audioPlayer.currentTime % 60);
        var durationMinutes = Math.floor(audioPlayer.duration / 60);
        var durationSeconds = Math.floor(audioPlayer.duration % 60);
    
        // Use padStart to ensure the minutes and seconds are always two digits
        var formattedMinutes = String(minutes).padStart(2, '0');
        var formattedSeconds = String(seconds).padStart(2, '0');
        var formattedDurationMinutes = String(durationMinutes).padStart(2, '0');
        var formattedDurationSeconds = String(durationSeconds).padStart(2, '0');
    
        timeDisplay.textContent = formattedMinutes + ':' + formattedSeconds + ' / ' + formattedDurationMinutes + ':' + formattedDurationSeconds;
        progressBar.value = (audioPlayer.currentTime / audioPlayer.duration) * 100;
    }
    
    setInterval(updateDisplay, 1000);

    function tryNextUrl() {
        if (urls.length === 0) {
            console.error('No valid audio URL found.');
            return;
        }

        var url = urls.shift();
        audioPlayer.src = url;

        audioPlayer.onerror = function () {
            console.error('Failed to load audio from URL: ' + url);
            tryNextUrl();
        };

        audioPlayer.oncanplay = function () {
            playPauseIcon.src = '/icons/play.svg';
            playPauseIcon.alt = 'Play';
        };
    }

    tryNextUrl();
</script>